<template>
  <div class="accountcreation" :style="{'background-image':'url('+backgroundUrl+')'}">
    <div class="window">
    <h2>account creation</h2>
    <form @submit.prevent="accountCreation">
    <p>full name</p>
        <input v-model="fullname">
    </br>
    <p>e-mail</p>
        <input v-model="email" type="email">
    </br>
    <p>password</p>
        <input v-model="password" type="password">
    </br>
    <p>password verification</p>
        <input v-model="passwordVerif" type="password">
    </br>
    </br>
    <button>Validate</button>
    </form>
    </br>
    <router-link to="/">back</router-link>
  </div>
  </div>
</template>

<script>
export default {
  name: 'AccountCreation',
  data () {
    return {
        fullname: '',
        email: '',
        password: '',
        passwordVerif: '',
    }
  },
  methods : {
      /*
      Création d'un nouveau compte, commit du jeton d'identification 
      et redirection du nouvelle utilisateur vers la page de la liste des chaines
      */
      accountCreation(){
          if (this.password == this.passwordVerif){        
             window.axios.post('members', {
                 "fullname": this.fullname,
                 "email": this.email,
                 "password": this.password
             }).then((response) => {
                alert("account created");
                this.$router.push('/Dashboard');
                this.setTokenAxios(response.data.token);
            }).catch((error) =>{
                alert(error.response.data.error.join("/n)"));
            })
          }
          else{
              alert("both passwords aren't similar");
          }
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  text-align: right;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #380081;
}
.window {
  overflow-y: scroll;
  height: 95%;
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color: rgb(127, 146, 252);
  background: linear-gradient(left, grey, grey 30%, white 30%, white);
}
.accountcreation
{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}
</style>