<template>
  <div class="dashboard" :style="{'background-image':'url('+backgroundUrl+')'}">
  <h2>dashboard</h2>
    <div class="window">
    <button @click="signOut">sign out</button>
    <button @click="createDiscussion()">create discussion</button>
    </br>
    </br>
    <p>{{dashboards.length}} discussion(s)
    <router-link to="/SeeMembers">see members</router-link>
    </p>
    </br>
    <hr/>
    </br>
  <p>
        <table>
    <thead>
        <tr>
            <th colspan="1">title</th>
            <th colspan="1">description</th>
            <th colspan="1"></th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <tbody>
        <tr v-if="this.creatediscussion" >
            <td><input v-model="title" placeholder="write a nice title"></td>
            <td><input v-model="description" placeholder="write a nice description"></td>
            <td><button @click="deleteCreate()">create</button></td>
            <td><button @click="undoCreate()">undo</button></td>
        </tr>
        <tr v-for="dashboard in dashboards">
            <td>{{dashboard.label}}</td>
            <td>{{dashboard.topic}}</td>
            <td><button @click="deleteDiscussion(dashboard._id)">delete</button></td>
            <td><router-link :to="{name:'Discussion',params: {id : dashboard._id}}">view</router-link></td>
        </tr>
    </tbody>
</table>
    
  </p>
  </div>
  </div>
</template>

<script>
export default {
  name: 'Dashboard',
  data() {
    return {
        dashboards : [],
        creatediscussion : false,
        title :'',
        description :'',
        id : '',
    }
  },
  mounted(){
    console.log(this.$store.state.token);
    //charger la liste des discussions
    this.seeDiscussions();
  },
  methods : {
    //Avoir une variable pour savoir si on est en train de créer une nouvelle discusion avec le formulaire pour l'annuler
    undoCreate(){
      this.creatediscussion = false;
    },
    //Avoir une variable pour savoir si on crée une nouvelle discusion affichant le formulaire 
    createDiscussion(){
      this.creatediscussion = true;
    },
    //Créer la discussion pour ensuite effacer le formulaire de création de la discussion
    deleteCreate(){
            window.axios.post('channels', {
                 "label": this.title,
                 "topic": this.description,
             }).then((response) => {
            this.creatediscussion = false;
            this.seeDiscussions();
            }).catch((error) =>{
                alert(error.response.data.error.join("/n)"));
            })
      },
    //Afficher la liste des discussions
    seeDiscussions(){
        window.axios.get('channels').then((response) => {     
        this.dashboards = response.data;   
        console.log(this.dashboards);
        }).catch((error) =>{
            alert(error.response.data.error.join("/n)"));
        })
    },
    //Effacer une discussion
    deleteDiscussion(id){
        window.axios.delete('channels/' + id).then((response) => {
          this.seeDiscussions();
        }).catch((error) =>{
            alert(error.response.data.error.join("/n)"));
        })
    },
    //Commit des paramétres de la discussion choisie et direction de l'utilisateur vers la discussion choisie
    viewDiscussion(id, title, description){
        this.$store.commit('setThread', {
                    _id : id,
                    label : title,
                    topic : description,
                });
        this.$router.push('/Discussion');
    },
    //Déconnection de l'utisateur, redirection de celui-çi vers la page de présentation
      signOut(){     
        alert("see you next time");         
          this.$store.commit('setMember', {
            fullname : '',
            email :'',
            id : '',
            connected : false
            });
          this.$router.push('/');
      },
  },
}
</script>

<style scoped>
hr {
width: 80%;
margin-left: auto;
margin-right: auto;
size: 1px;
color : rgb(201, 192, 192);
}
h2{
  text-align: left; 
  vertical-align: middle;
  height: 10%;
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color: grey;
}
table {
     width: 100%;
}
tr {
     text-align: center; 
     vertical-align: middle;
}
h1, h2 {
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #380081;
}
.window {
  overflow-y: scroll;
  height: 80%;
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color:white;
}
.dashboard
{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

</style>
