<template>
    <div class="discussion" :style="{'background-image':'url('+backgroundUrl+')'}">
        <h2>Discussion</h2>
    <div class="window">
      <div v-if="discussion">
      </div>
      <div>
        <p>Title: {{ discussion.label }}</p>
      </div>
      <div>
        <p>Description: {{ discussion.topic }}</p>
      </div>
            <p>{{messages.length}} message(s)
            </p>
      <div>
        </br>
        <hr/>
      </div>
      <div v-for="unMessage in Messages" class="messages">
        <message :message="unMessage"></message>
        <hr/>
      </div>
      <div>
        <p><input v-model="msg" placeholder="write a nice message">
        <button @click="messageCreate()">post</button></p>
      </div>
      </br>
      <router-link to="/Dashboard">back</router-link>
      </br>
      </br>
    </div>
    </div>
</template>

<script>
import Message from '@/components/Message';

export default {
  components : { 
    Message 
    },
  name: 'Discussion',
  data() {
    return {
      discussion : false,
      msg : '',
      id : '',
    }
  },
  computed : {  
    //Avoir la liste des messages pour la discussion choisi
    Messages: function () {
      return this.messages;
    }
  },
  mounted(){
    /*
    Vérification de l'existance de la discussion et avoir la liste des messages 
    pour la discussion choisie dont l'id est en paramétre de la route d'origine 
    */
    window.axios.get('channels/' + this.$route.params.id).then((response) => {
      this.discussion = response.data;
      this.loadMessages(this.$route.params.id);
    });

  },
  watch : {
    //Actualiser la liste des messages
    messages:function(val) {
      this.loadMessages(this.id);
      },
  },
  methods : {
    //Avoir les messages de la chaine
    loadMessages(id){
        this.id = id;
        window.axios.get('channels/' + id + '/posts').then((response) => {     
          this.messages = response.data; 
        }).catch((error) =>{
            alert(error.response.data.error.join("/n)"));
        })
    },
    //Créer un message
    messageCreate(){
        window.axios.post('channels/' + this.$route.params.id + '/posts', {
            "message": this.msg,
          }).then((response) => {
          this.loadMessages(this.$route.params.id);
          }).catch((error) =>{
          alert(error.response.data.error.join("/n)"));
        })
    },
  },
}
</script>

<style scoped>
img {
  width: 20%;
  height: 20%;
}
hr {
width: 80%;
margin-left: auto;
margin-right: auto;
size: 1px;
color : rgb(201, 192, 192);
}
h2{
  text-align: left; 
  vertical-align: middle;
  height: 10%;
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color: grey;
}
h1, h2 {
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #380081;
}
.window {
  overflow-y: scroll;
  height: 80%;
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color:white;
}
.discussion
{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}
.messages{

}
</style>
