<template>
  <div class="homepage" :style="{'background-image':'url('+backgroundUrl+')'}">
    <div class="window">
    <div class="header">
    <h1>{{ msg }}</h1>
    <h2>sign in</h2>
    </div>
    <form @submit.prevent="accountSignin">
    <p>e-mail</p>
        <input v-model="email" type="email" required>
    </br>
    <p>password</p>
        <input v-model="password" type="password" required>
    </br>
    </br>
    <button>Connection</button>
    </form>
    </br>
    <router-link to="/Accountcreation">Create an account</router-link>
  </div>
  </div>
</template>

<script>

export default {
  name: 'Homepage',
  data(){
    return {
      msg: 'Welcome to Coop: A clone of slack',
      email: 'ertyuiopty@test.com',
      password: 'ertyuiopty',
      connected: false,
    }
  },
  mounted(){
    
  },
  methods : {
      /*
      Logger l'utilisateur en vérifiant son mail et mot de passe, 
      mettre à vrai la variable de connection du membre, 
      commit le store avec les infos pour pouvoir les utiliser,
      commit le jeton d'identification,
      rediriger l'utilisateur connécté vers la page de la liste des chaines
      */
      accountSignin(){     
          window.axios.post('members/signin', {
                 "email": this.email,
                 "password": this.password
             }).then((response) => {
                this.$store.commit('setMember', {
                    fullname : response.data.fullname,
                    email : response.data.email,
                    id : response.data._id,
                    connected : true
                });
                this.$store.commit('setToken', response.data.token);
                this.setTokenAxios(response.data.token);
                this.$router.push('/Dashboard');

            }).catch((error) =>{
                alert(error.response.data.error.join("/n)"));
            })   
      }
  }
}
</script>

<style scoped>

.header {
  text-align: right;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #380081;
}
.window {
  overflow-y: scroll;
  height: 95%;
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color: rgb(127, 146, 252);
  background: -webkit-linear-gradient(left, grey, grey 30%, white 30%, white);
}
.homepage
{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}
</style>
