<template>
    <div class="member" :style="{'background-image':'url('+backgroundUrl+')'}">
        <h2>Member</h2>
    <div class="window">
        <div>
            <p> 
            <img :src="avatar(member.email)" height="22" width="22"> {{member.fullname}}
            </p>
        </div>
        </br>
        <hr/>
        </br>
        </br>
        <table>
    <thead>
        <tr>
            <th colspan="1">fullname</th>
            <th colspan="1">email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ member.fullname }}</td>
            <td>{{ member.email }}</td>
        </tr>
    </tbody>
</table>
</br>
<hr/>
</br>
<div>Last 10 posts in all channels:</div>
</br>
    <hr/>
    <div v-for="unMessage in messages">
      <post :message="unMessage"></post>
      <hr/>
    </div>
    </br>
    <router-link to="/SeeMembers">back</router-link>
      </br>
      </br>
    </div>
    </div>
</template>

<script>


import Post from '@/components/Post';

export default {
	name: 'Member',
	components: {
		Post
	},
	data() {
		return {
			members: [],
			member_id: '',
			member: [],
			discussion: false,
			msg: '',
			fullname: '',
		}
	},
	mounted() {
    //Récupération de l'id du membre choisi transporté par la route
		this.member_id = this.$route.params.id;
    //Chargement de tous les membres à comparer avec le membre choisi
		this.loadMember();
    //Chargement des messages du membre pour toutes les chaines
		this.loadAllPosts(this.member_id);

	},
	methods: {
    //Avoir la liste des chaines et pour chaque chaine, récupérer les messages du membre
		loadAllPosts(member_id) {
			window.axios.get('channels/').then((response) => {
				let channels = response.data;
				channels.forEach((channels) => {
					window.axios.get('channels/' + channels._id + '/posts').then((response) => {
						response.data.reverse().forEach((member) => {
							if (member.member_id == member_id & this.messages.length < 10) {
								this.messages.push(member);
							}
						});
					})
				})
			});
		},
    //Avoir la liste de tous les membres et n'avoir que le membre choisi en fonction de son id
		loadMember() {
			window.axios.get('members').then((response) => {
				this.members = response.data;
				console.log(this.members);
				this.members.forEach((member) => {
					if (member._id == this.member_id) {
						this.member = member;
					}
				});
			}).catch((error) => {
				alert(error.response.data.error.join("/n)"));
			})
		}
	}

}

</script>

<style scoped>

hr {
width: 80%;
margin-left: auto;
margin-right: auto;
size: 1px;
color : rgb(201, 192, 192);
}
h2{
  text-align: left; 
  vertical-align: middle;
  height: 10%;
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color: grey;
}
table {
     width: 100%;
}
tr {
     text-align: center; vertical-align: middle;
}
h1, h2 {
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #380081;
}
.window {
  overflow-y: scroll;
  height: 80%;
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color:white;
}
.member
{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}
img{

    vertical-align:top;
}
</style>
