<template>
    <div v-if="member">
        <div>
        The: {{ message.created_at  | formatDate }}
        </div>
        <img :src="avatar(member.email)" height="22" width="22">
        <router-link :to="{path: '/SeePosts', query: {id : message.channel_id, member_id : member._id, member_fullname : member.fullname}}">{{ member.fullname }}</router-link>
        <p>{{ message.message }}</p> 
        <div v-if="editmessage" class="message">
          <p><input v-model="msg">
          <button @click="messageEdit(message._id)">edit</button></p>
        </div>
        <div v-else class="buttons">
          <button  v-if="$store.state.member.id == member._id" @click="editMessage">edit</button>
          <button  v-if="$store.state.member.id == member._id" @click="deleteMessage(message._id)">delete</button>
        </div>
    </div>
</template>

<script>
import Discussion from '@/components/Discussion';
import Vue from 'vue'
import moment from 'moment';

Vue.use(require('vue-moment'));

Vue.filter('formatDate', function(value) {
  if (value) {
    return moment(String(value)).format('MM/DD/YYYY hh:mm')
  }
})

export default {
    name : 'Message',
    props : ['message'],
    data() {
        return {
            msg : '',
            editmessage : false,
            member : false,
            dateformated : '',
        }
    },
    mounted()  {
        this.init();
    },
    computed : {   

    },
    filters: {

    },
    methods : {
        //Initialisation
        init(){
            //Avoir le message à editer
            this.msg = this.message.message;
            //Avoir le membre en fonction de son id
            this.member = this.getMember(this.message.member_id);
        },
        //Paramétrer la variable pour autoriser l'utilisateur qui édite ou éfface le message soit bien son propre message
        editMessage(){        
        this.editmessage = true;
        },
        //Mise à jour du message à partir du message d'avant et rechargement des messages
        messageEdit(id) {
            window.axios.put('channels/' + this.message.channel_id + '/posts/' + id, {
                message : this.msg
            }).then(response => {
                console.log(response);    
                this.editmessage = false;
                this.loadMessages(this.message.channel_id);
                this.init();
            }).catch((error) =>{
                alert(error.response.data.error.join("/n)"));
            })
        },
        //Effacer un message et rechargement des messages
        deleteMessage(id){
            window.axios.delete('channels/' + this.message.channel_id + '/posts/' + id).then((response) => {
                this.loadMessages(this.message.channel_id);
                this.init();
            }).catch((error) =>{
            alert(error.response.data.error.join("/n)"));
            })
        },
    }
}
</script>


<style scoped>
img{

    vertical-align:top;
}

.buttons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
</style>
