<template>
    <div v-if="member">
        <div>
        The: {{ message.created_at  | formatDate }}
        </div>
        <p><img :src="avatar(member.email)" height="22" width="22"> {{ message.message }}</p> 
        <div v-if="editmessage">
          <p><input v-model="msg">
          <button @click="messageEdit(message.channel_id, message._id)">edit</button></p>
        </div>
        <div v-else class="buttons">
          <button  v-if="$store.state.member.id == member._id" @click="editMessage">edit</button>
          <button  v-if="$store.state.member.id == member._id" @click="deleteMessage(message.channel_id, message._id)">delete</button>
        </div>
    </div>
</template>


<script>
import Vue from 'vue'
import moment from 'moment';

Vue.use(require('vue-moment'));

Vue.filter('formatDate', function(value) {
  if (value) {
    return moment(String(value)).format('MM/DD/YYYY hh:mm')
  }
})

export default {
    name : 'Post',
    props : ['message'],
    data() {
        return {
            msg : '',
            editmessage : false,
            member : false,
            dateformated : '',
        }
    },
    mounted()  {
        this.init();
    },
    computed : {   

    },
    filters: {

    },
    methods : {
        //Initialisation
        init(){
            //Avoir le message à editer
            this.msg = this.message.message;
            //Avoir le membre en fonction de son id
            this.member = this.getMember(this.message.member_id);
        },
        //Paramétrer la variable pour autoriser l'utilisateur qui édite ou éfface le message soit bien son propre message
        editMessage(){        
            this.editmessage = true;
        },
        //Mise à jour du message à partir du message d'avant et rechargement des messages
        messageEdit(channel_id, id) {
            window.axios.put('channels/' + channel_id + '/posts/' + id, {
                message : this.msg
            }).then(response => {
                console.log(response);    
                this.editmessage = false;
                this.init();
                console.log(channel_id);
                //rechargement de la page
                this.$router.go(this.$router.currentRoute);
            }).catch((error) =>{
                alert(error.response.data.error.join("/n)"));
            })
        },
        //Effacer un message et rechargement des messages
        deleteMessage(channel_id, id){
            window.axios.delete('channels/' + channel_id + '/posts/' + id).then((response) => {
                this.init();
                //rechargement de la page
                this.$router.go(this.$router.currentRoute);
            }).catch((error) =>{
            alert(error.response.data.error.join("/n)"));
            })
        },
    }
}
</script>


<style scoped>
img{

    vertical-align:top;
}

.buttons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
</style>