<template>
    <div class="seemembers" :style="{'background-image':'url('+backgroundUrl+')'}">
        <h2>Members</h2>
    <div class="window">
        <div>
            <p>{{members.length}} member(s)
            </p>
        </div>
        </br>
        <hr/>
        </br>
        </br>
        <table>
    <thead>
        <tr>
            <th colspan="1">avatar</th>
            <th colspan="1">fullname</th>
            <th colspan="1">email</th>
            <th colspan="1">view</th>
            <th colspan="1">remove</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="member in members">
            <td><img :src="avatar(member.email)" height="22" width="22"></td>
            <td>{{member.fullname}}</td>
            <td>{{member.email}}</td>
            <router-link :to="{name: 'Member', params: { id : member._id }}">profile</router-link>
            <td><button v-if="$store.state.member.id != member._id" @click="deleteUser(member._id)">X</button></td>
        </tr>
    </tbody>
</table>
</br>
    <router-link to="/Dashboard">back</router-link>
      </br>
      </br>
    </div>
    </div>
</template>

<script>
export default {
  name: 'SeeMembers',
  data() {
    return {
        members : [],
        id :'',
    }
  },
  mounted(){
    //Appéle à la méthode de chargement de la liste tous les membres
    this.loadMembers();

  },
  methods : {

    //Effacer un membre de la liste des membres si le membrer n'est pas celui connécté
    deleteUser(id){
      window.axios.delete('members/' + id).then((response) => {
        //Rechargement de la liste des membres
        this.loadMembers();
      }).catch((error) =>{
          alert(error.response.data.error.join("/n)"));
      })
    },

    //Charger la liste de tous les membres avec axios
    loadMembers(){
        window.axios.get('members').then((response) => {     
        this.members = response.data;    
        }).catch((error) =>{
          alert(error.response.data.error.join("/n)"));
        })
      },
    }
  
}
</script>

<style scoped>

hr {
width: 80%;
margin-left: auto;
margin-right: auto;
size: 1px;
color : rgb(201, 192, 192);
}
h2{
  text-align: left; 
  vertical-align: middle;
  height: 10%;
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color: grey;
}
table {
     width: 100%;
}
tr {
     text-align: center; vertical-align: middle;
}
h1, h2 {
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #380081;
}
.window {
  overflow-y: scroll;
  height: 80%;
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color:white;
}
.seemembers
{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

</style>
