<template>
    <div class="seeposts" :style="{'background-image':'url('+backgroundUrl+')'}">
        <h2>Member posts of {{ discussion.label }}: {{ discussion.topic }}</h2>
    <div class="window">
      <div v-if="discussion">
      </div>
        <div>
        Author: {{ fullname }}
        </div>
            <p>{{messages.length}} post(s)
            </p>
      <div>
        </br>
        <hr/>
      </div>
      <div v-for="unMessage in messages">
        <post :message="unMessage"></post>
        <hr/>
      </div>
      </br>
      <a @click="$router.go(-1)">back</a>
      </br>
      </br>
    </div>
    </div>
</template>

<script>
import Post from '@/components/Post';

export default {
  name: 'SeePosts',
  components : { 
    Post 
    },
  data() {
    return {
      discussion : false,
      msg : '',
      fullname : '',
    }
  },
  mounted(){

    //Avoir le nom envoyé en paramétre depuis le lien de l'auteur d'un post dans une discussion au chargement de la page
    this.fullname = this.$route.query.member_fullname;
    //Avoir la liste des message pour une discussion si existante
    window.axios.get('channels/' + this.$route.query.id).then((response) => {
      this.discussion = response.data;
      this.loadPosts(this.$route.query.id, this.$route.query.member_id);
    });

  },
  methods : {
      //récupérer les messages d'un membre pour une discussion donnée
      loadPosts(id, member_post_id){
          window.axios.get('channels/' + id + '/posts').then((response) => {  
            response.data.reverse().forEach((member) =>{
              if (member.member_id == member_post_id & this.messages.length < 10){
                this.messages.push(member);
              }
            }); 
          }).catch((error) =>{
              alert(error.response.data.error.join("/n)"));
          })
      },
  },
}
</script>

<style scoped>

hr {
width: 80%;
margin-left: auto;
margin-right: auto;
size: 1px;
color : rgb(201, 192, 192);
}
h2{
  text-align: left; 
  vertical-align: middle;
  height: 10%;
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color: grey;
}
h1, h2 {
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  text-decoration: underline;
  color: #380081;
}
.window {
  overflow-y: scroll;
  height: 80%;
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color:white;
}
.seeposts
{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}
</style>
