<template>
  <div id="app" v-if="appactive">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      appactive : true,
    }
  },
  mounted(){
    
    //Force l'application web à rester sur l'écran de présentation si l'utilisateur n'est pas reconnu
    if (!this.memberConnected()) {
      this.$router.push('/');
    }

    //commit pour setMembers (récuperer la liste des membres)
    window.axios.get('members').then((response) => { 
      this.$store.commit('setMembers', response.data);  
    }).catch((error) =>{
      alert(error.response.data.error.join("/n)"));
    });

    //Vérifier que le jeton d'identification est présent
    console.log(this.$store.state.token);

    //Tester l'API et l'appel d'axios
    window.axios.get('ping').then((response) => { 
      this.appactive = true;
      console.log(response.data);
    }).catch((error) =>{
      this.appactive = false;
      console.log(error.message);
    });
  }
}
</script>

<style>

</style>
